<section id="about-page">
	<div class="cover-image">
		<%= image_tag "about/cover-image.jpg", :alt => 'cover-image' %>
	</div>
	<div class="wrapper">
		<div class="heading">
			<h3>About</h3>
		</div>
		<div class="content">
			<div class="description">
				<p class="about">
					<strong>Dinesh Gupta</strong> the honor of this company which is established in 1994. 
				</p>
				<div class="text">
					<p class="left-side">
						<strong>Dinesh automobiles</strong> have three branches main branch in adampur
					</p>
					<p class="right-side">
						<strong>Bajaj Showroom</strong> The other two branches are agroha and Azad Nagar,hisar.
						All the branches is in hisar distirct.
					</p>
				</div>
			</div>
			<div class="about-image">
				<%= image_tag "about/about_profile.jpg", :alt => 'about-image' %>
			</div>
		</div>
		<div class="achievement">
			<h4>Achievements</h4>
			<figure>
				<%= image_tag "about/achievement.jpg", :alt => 'achievement-image' %>
			</figure>
		</div>
	</div>
</section>